$icomoon-font-family: "health-icons" !default;
$icomoon-font-path: "@/assets/health-icons/fonts" !default;

$hi-blood_a_n: "\e901";
$hi-blood_a_p: "\e902";
$hi-blood_ab_n: "\e903";
$hi-blood_ab_p: "\e904";
$hi-blood_b_n: "\e905";
$hi-blood_b_p: "\e906";
$hi-blood_bag: "\e907";
$hi-blood_o_n: "\e908";
$hi-blood_o_p: "\e909";
$hi-blood_rh_n: "\e90a";
$hi-blood_rh_p: "\e90b";
$hi-arm: "\e90c";
$hi-bacteria: "\e90d";
$hi-bladder: "\e90e";
$hi-blood_cells: "\e90f";
$hi-blood_drop: "\e910";
$hi-blood_vessel: "\e911";
$hi-body: "\e912";
$hi-dna: "\e913";
$hi-ear: "\e914";
$hi-enzyme: "\e915";
$hi-eye: "\e916";
$hi-female_reproductive_system: "\e917";
$hi-foot: "\e918";
$hi-gallbladder: "\e919";
$hi-heart: "\e91a";
$hi-intestine: "\e91b";
$hi-joints: "\e91c";
$hi-kidneys: "\e91d";
$hi-leg: "\e91e";
$hi-liver: "\e91f";
$hi-liver-alt: "\e920";
$hi-lungs: "\e921";
$hi-lymph_nodes: "\e922";
$hi-mouth: "\e923";
$hi-nerve: "\e924";
$hi-neurology: "\e925";
$hi-nose: "\e926";
$hi-pancreas: "\e927";
$hi-skeleton: "\e928";
$hi-skull: "\e929";
$hi-spine: "\e92a";
$hi-spleen: "\e92b";
$hi-stomach: "\e92c";
$hi-tooth: "\e92d";
$hi-allergies: "\e92e";
$hi-back_pain: "\e92f";
$hi-cervical_cancer: "\e930";
$hi-chills: "\e931";
$hi-chills_fever: "\e932";
$hi-coughing_alt: "\e933";
$hi-deaf: "\e934";
$hi-diarrhea: "\e935";
$hi-headache: "\e936";
$hi-hiv_ind: "\e937";
$hi-hiv_neg: "\e938";
$hi-hiv_pos: "\e939";
$hi-hpv: "\e93a";
$hi-intestinal-pain: "\e93b";
$hi-loss-smell: "\e93c";
$hi-low_vision: "\e93d";
$hi-nausea: "\e93e";
$hi-overweight: "\e93f";
$hi-pneumonia: "\e940";
$hi-ribbon: "\e941";
$hi-sti: "\e942";
$hi-sweating: "\e943";
$hi-tb: "\e944";
$hi-underweight: "\e945";
$hi-varicose_vein: "\e946";
$hi-vih: "\e947";
$hi-viral_lung_infection: "\e948";
$hi-vomiting: "\e949";
$hi-blood_pressure: "\e94a";
$hi-blood_pressure_2: "\e94b";
$hi-blood_pressure_monitor: "\e94c";
$hi-cast: "\e94d";
$hi-clinical_a: "\e94e";
$hi-cold_chain: "\e94f";
$hi-contact_lenses: "\e950";
$hi-defibrilator: "\e951";
$hi-dental_hygiene: "\e952";
$hi-discriminating_concentration_bioassays: "\e953";
$hi-disinfecting_wipes: "\e954";
$hi-exercise_bicycle: "\e955";
$hi-eyeglasses: "\e956";
$hi-fever: "\e957";
$hi-hospitalized: "\e958";
$hi-inpatient: "\e959";
$hi-intravenous_bag: "\e95a";
$hi-llin: "\e95b";
$hi-microscope: "\e95c";
$hi-mobile: "\e95d";
$hi-observation: "\e95e";
$hi-odontology: "\e95f";
$hi-odontology_implant: "\e960";
$hi-oxygen_tank: "\e961";
$hi-patient_band-path1: "\e962";
$hi-patient_band-path2: "\e963";
$hi-patient_band-path3: "\e964";
$hi-patient_band-path4: "\e965";
$hi-patient_band-path5: "\e966";
$hi-patient_band-path6: "\e967";
$hi-patient_band-path7: "\e968";
$hi-patient_band-path8: "\e969";
$hi-patient_band_alt-path1: "\e96a";
$hi-patient_band_alt-path2: "\e96b";
$hi-ppe_apron: "\e96c";
$hi-ppe_face_mask: "\e96d";
$hi-ppe_face_shield: "\e96e";
$hi-ppe_gloves: "\e96f";
$hi-ppe_goggles: "\e970";
$hi-ppe_gown: "\e971";
$hi-ppe_mask_n95: "\e972";
$hi-ppe_sanitizer: "\e973";
$hi-ppe_santizer_alt: "\e974";
$hi-ppe_suit: "\e975";
$hi-ppe-face-shield-alt: "\e976";
$hi-ppe-mask: "\e977";
$hi-respirator: "\e978";
$hi-sling: "\e979";
$hi-stethoscope: "\e97a";
$hi-surgical_sterilization: "\e97b";
$hi-syringe: "\e97c";
$hi-syringe-vaccine: "\e97d";
$hi-tac: "\e97e";
$hi-thermometer: "\e97f";
$hi-thermometer_digital: "\e980";
$hi-treated_water: "\e981";
$hi-ventilator: "\e982";
$hi-ventilator_alt: "\e983";
$hi-virus_lab_research_syringe: "\e984";
$hi-virus_lab_research_test_tube: "\e985";
$hi-virus-sanitizer-spray: "\e986";
$hi-weight: "\e987";
$hi-wheelchair: "\e988";
$hi-wheelchair_alt: "\e989";
$hi-xray: "\e98a";
$hi-cone_test_on_nets: "\e98b";
$hi-cone_test_on_walls: "\e98c";
$hi-hiv_self_test: "\e98d";
$hi-intensity_concentration_bioassays: "\e98e";
$hi-malaria_microscope: "\e98f";
$hi-malaria_mixed_microscope: "\e990";
$hi-malaria_pf_microscope: "\e991";
$hi-malaria_pv_microscope: "\e992";
$hi-malaria_testing: "\e993";
$hi-mosquito_collection: "\e994";
$hi-rdt_result: "\e995";
$hi-rdt_result_invalid: "\e996";
$hi-rdt_result_mixed: "\e997";
$hi-rdt_result_mixed_invalid: "\e998";
$hi-rdt_result_mixed_invalid_rectangular: "\e999";
$hi-rdt_result_mixed_rectangular: "\e99a";
$hi-rdt_result_neg: "\e99b";
$hi-rdt_result_neg_invalid: "\e99c";
$hi-rdt_result_neg_invalid_rectangular: "\e99d";
$hi-rdt_result_neg_rectangular: "\e99e";
$hi-rdt_result_no_test: "\e99f";
$hi-rdt_result_pf: "\e9a0";
$hi-rdt_result_pf_invalid: "\e9a1";
$hi-rdt_result_pf_invalid_rectangular: "\e9a2";
$hi-rdt_result_pf_rectangular: "\e9a3";
$hi-rdt_result_positive: "\e9a4";
$hi-rdt_result_pv: "\e9a5";
$hi-rdt_result_pv_invalid: "\e9a6";
$hi-rdt_result_pv_invalid_rectangular: "\e9a7";
$hi-rdt_result_pv_rectangular: "\e9a8";
$hi-synergist_insecticide_bioassays: "\e9a9";
$hi-angry: "\e9aa";
$hi-bandaged: "\e9ab";
$hi-calm: "\e9ac";
$hi-confused: "\e9ad";
$hi-coughing: "\e9ae";
$hi-crying: "\e9af";
$hi-dizzy: "\e9b0";
$hi-expectorate: "\e9b1";
$hi-eyeglasses-1: "\e9b2";
$hi-fever-1: "\e9b3";
$hi-happy: "\e9b4";
$hi-loudly_crying: "\e9b5";
$hi-masked: "\e9b6";
$hi-measles: "\e9b7";
$hi-nauseous: "\e9b8";
$hi-nervous: "\e9b9";
$hi-neutral: "\e9ba";
$hi-not_ok: "\e9bb";
$hi-ok: "\e9bc";
$hi-sad: "\e9bd";
$hi-sleepy: "\e9be";
$hi-sweating-1: "\e9bf";
$hi-tongue: "\e9c0";
$hi-vomitting: "\e9c1";
$hi-woozy: "\e9c2";
$hi-contraceptive_diaphragm: "\e9c3";
$hi-contraceptive_injection: "\e9c4";
$hi-contraceptive_patch: "\e9c5";
$hi-contraceptive_voucher: "\e9c6";
$hi-copper_iud: "\e9c7";
$hi-family_planning: "\e9c8";
$hi-female_condom: "\e9c9";
$hi-hormonal_ring: "\e9ca";
$hi-implant: "\e9cb";
$hi-iud: "\e9cc";
$hi-male_condom: "\e9cd";
$hi-oral_contraception_pillsx21: "\e9ce";
$hi-oral_contraception_pillsx28: "\e9cf";
$hi-sayana_press: "\e9d0";
$hi-sperm: "\e9d1";
$hi-blister_pills_oval_x1: "\e9d2";
$hi-blister_pills_oval_x4: "\e9d3";
$hi-blister_pills_oval_x14: "\e9d4";
$hi-blister_pills_oval_x16: "\e9d5";
$hi-blister_pills_round_x1: "\e9d6";
$hi-blister_pills_round_x4: "\e9d7";
$hi-blister_pills_round_x14: "\e9d8";
$hi-blister_pills_round_x16: "\e9d9";
$hi-medicines: "\e9da";
$hi-pill_1: "\e9db";
$hi-pills_2: "\e9dc";
$hi-pills_3: "\e9dd";
$hi-pills_4: "\e9de";
$hi-bandage_adhesive: "\e9df";
$hi-bills: "\e9e0";
$hi-cleaning: "\e9e1";
$hi-coins: "\e9e2";
$hi-construction: "\e9e3";
$hi-credit_card: "\e9e4";
$hi-desktop_app: "\e9e5";
$hi-hot_meal: "\e9e6";
$hi-i_utensils: "\e9e7";
$hi-justice: "\e9e8";
$hi-money_bag: "\e9e9";
$hi-phone: "\e9ea";
$hi-rdt_result_out_stock: "\e9eb";
$hi-running_water: "\e9ec";
$hi-spreadsheets: "\e9ed";
$hi-stock_out: "\e9ee";
$hi-umbrella: "\e9ef";
$hi-unhealthy_food: "\e9f0";
$hi-agriculture: "\e9f1";
$hi-agriculture_worker: "\e9f2";
$hi-agriculture_worker_alt: "\e9f3";
$hi-ancv: "\e9f4";
$hi-asthma: "\e9f5";
$hi-baby_0203_alt: "\e9f6";
$hi-baby_0203m: "\e9f7";
$hi-baby_0306m: "\e9f8";
$hi-baby_female_0203m_alt: "\e9f9";
$hi-baby_female_0306m: "\e9fa";
$hi-baby_female_0609m: "\e9fb";
$hi-baby_male_0203m_alt: "\e9fc";
$hi-baby_male_0306m: "\e9fd";
$hi-baby_male_0609m: "\e9fe";
$hi-boy_0105y: "\e9ff";
$hi-boy_1015y: "\ea00";
$hi-call_centre: "\ea01";
$hi-child_care: "\ea02";
$hi-child_cognition: "\ea03";
$hi-child_program: "\ea04";
$hi-city_worker: "\ea05";
$hi-clean_hands: "\ea06";
$hi-community_healthworker: "\ea07";
$hi-construction_worker: "\ea08";
$hi-diabetes: "\ea09";
$hi-doctor: "\ea0a";
$hi-doctor_female: "\ea0b";
$hi-doctor_male: "\ea0c";
$hi-domestic_worker: "\ea0d";
$hi-domestic_worker_alt: "\ea0e";
$hi-elderly: "\ea0f";
$hi-exercise_running: "\ea10";
$hi-exercise_walk_supported: "\ea11";
$hi-exercise_walking: "\ea12";
$hi-exercise_weights: "\ea13";
$hi-factory_worker: "\ea14";
$hi-female_and_male: "\ea15";
$hi-female_sex_worker: "\ea16";
$hi-fetus: "\ea17";
$hi-forum: "\ea18";
$hi-girl_0105y: "\ea19";
$hi-girl_1015y: "\ea1a";
$hi-group_discussion_meeting: "\ea1b";
$hi-group_discussion_meetingx3: "\ea1c";
$hi-health_worker: "\ea1d";
$hi-i_groups_perspective_crowd: "\ea1e";
$hi-i_training_class: "\ea1f";
$hi-lactation: "\ea20";
$hi-male_and_female: "\ea21";
$hi-male_sex_worker: "\ea22";
$hi-man: "\ea23";
$hi-mental_disorders: "\ea24";
$hi-military_worker: "\ea25";
$hi-miner_worker: "\ea26";
$hi-miner_worker_alt: "\ea27";
$hi-msm: "\ea28";
$hi-neuro_surgery: "\ea29";
$hi-nurse: "\ea2a";
$hi-officer: "\ea2b";
$hi-old_man: "\ea2c";
$hi-old_woman: "\ea2d";
$hi-outpatient: "\ea2e";
$hi-pediatric_surgery: "\ea2f";
$hi-people: "\ea30";
$hi-person: "\ea31";
$hi-plantation_worker: "\ea32";
$hi-plantation_worker_alt: "\ea33";
$hi-pregnant: "\ea34";
$hi-pregnant_32w: "\ea35";
$hi-pregnant_0812w: "\ea36";
$hi-pregnant_2426w: "\ea37";
$hi-pregnant_3638w: "\ea38";
$hi-prisoner: "\ea39";
$hi-pwid: "\ea3a";
$hi-refused: "\ea3b";
$hi-rmnh: "\ea3c";
$hi-security_worker: "\ea3d";
$hi-speech_language_therapy: "\ea3e";
$hi-spraying: "\ea3f";
$hi-symptom: "\ea40";
$hi-traumatism: "\ea41";
$hi-travel: "\ea42";
$hi-travel_alt: "\ea43";
$hi-truck_driver: "\ea44";
$hi-wash_hands: "\ea45";
$hi-water_sanitation: "\ea46";
$hi-woman: "\ea47";
$hi-world_care: "\ea48";
$hi-young_people: "\ea49";
$hi-ambulatory_clinic: "\ea4a";
$hi-church: "\ea4b";
$hi-city: "\ea4c";
$hi-emergency_post: "\ea4d";
$hi-forest: "\ea4e";
$hi-forest_persons: "\ea4f";
$hi-home: "\ea50";
$hi-home_alt: "\ea51";
$hi-hospital: "\ea52";
$hi-letrina: "\ea53";
$hi-letrina_alt: "\ea54";
$hi-market_stall: "\ea55";
$hi-ministry_of_health: "\ea56";
$hi-mosque: "\ea57";
$hi-palm_branches_roof: "\ea58";
$hi-proper_roof: "\ea59";
$hi-rural_post: "\ea5a";
$hi-rural_post_alt: "\ea5b";
$hi-temple: "\ea5c";
$hi-temple_alt: "\ea5d";
$hi-village: "\ea5e";
$hi-circle_large: "\ea5f";
$hi-circle_medium: "\ea60";
$hi-circle_small: "\ea61";
$hi-information_campaign: "\ea62";
$hi-square_large: "\ea63";
$hi-square_medium: "\ea64";
$hi-square_small: "\ea65";
$hi-star_large: "\ea66";
$hi-star_medium: "\ea67";
$hi-star_small: "\ea68";
$hi-triangle_large: "\ea69";
$hi-triangle_medium: "\ea6a";
$hi-triangle_small: "\ea6b";
$hi-accident_and_emergency: "\ea6c";
$hi-admissions: "\ea6d";
$hi-biochemistry_laboratory: "\ea6e";
$hi-cardiology: "\ea6f";
$hi-chaplaincy: "\ea70";
$hi-coronary_care_unit: "\ea71";
$hi-critical_care: "\ea72";
$hi-discharge_lounge: "\ea73";
$hi-ears_nose_and_throat: "\ea74";
$hi-endocrinology: "\ea75";
$hi-finance_dept: "\ea76";
$hi-gastroenterology: "\ea77";
$hi-geriatrics: "\ea78";
$hi-gym: "\ea79";
$hi-gynecology: "\ea7a";
$hi-hematology: "\ea7b";
$hi-hematology_laboratory: "\ea7c";
$hi-hepatology: "\ea7d";
$hi-human_resoruces: "\ea7e";
$hi-intensive_care_unit: "\ea7f";
$hi-medical_records: "\ea80";
$hi-nephrology: "\ea81";
$hi-obstetricsmonia: "\ea82";
$hi-oncology: "\ea83";
$hi-opthalmology: "\ea84";
$hi-orthopaedics: "\ea85";
$hi-outpatient_department: "\ea86";
$hi-pediatrics: "\ea87";
$hi-pharmacy: "\ea88";
$hi-physical_therapy: "\ea89";
$hi-psychology: "\ea8a";
$hi-radiology: "\ea8b";
$hi-respirology: "\ea8c";
$hi-rheumatology: "\ea8d";
$hi-social_work: "\ea8e";
$hi-sonography: "\ea8f";
$hi-speech_language_therapy-1: "\ea90";
$hi-urology: "\ea91";
$hi-g: "\ea92";
$hi-g1: "\ea93";
$hi-alcohol: "\ea94";
$hi-alert: "\ea95";
$hi-alert_circle: "\ea96";
$hi-alert_triangle: "\ea97";
$hi-animal_chicken: "\ea98";
$hi-animal_cow: "\ea99";
$hi-animal_donkey: "\ea9a";
$hi-animal_spider: "\ea9b";
$hi-animal_tick: "\ea9c";
$hi-assembly_point: "\ea9d";
$hi-award_ribbon: "\ea9e";
$hi-award_trophy: "\ea9f";
$hi-book: "\eaa0";
$hi-breeding_sites: "\eaa1";
$hi-calendar: "\eaa2";
$hi-calendar-quarantine: "\eaa3";
$hi-cannabis: "\eaa4";
$hi-cardiogram: "\eaa5";
$hi-cardiogram_e: "\eaa6";
$hi-chart_bar: "\eaa7";
$hi-chart_bar_stacked: "\eaa8";
$hi-chart_line: "\eaa9";
$hi-chart_line_stacked: "\eaaa";
$hi-chart_pie: "\eaab";
$hi-chart-cured-decreasing: "\eaac";
$hi-chart-cured-increasing: "\eaad";
$hi-chart-death-rate-decreasing: "\eaae";
$hi-chart-death-rate-increasing: "\eaaf";
$hi-chart-death-rate-stable: "\eab0";
$hi-chart-infected-decreasing: "\eab1";
$hi-chart-infected-increasing: "\eab2";
$hi-chart-infected-stable: "\eab3";
$hi-cholera: "\eab4";
$hi-clinical_f: "\eab5";
$hi-clinical_fe: "\eab6";
$hi-communication: "\eab7";
$hi-community_meeting: "\eab8";
$hi-contact_support: "\eab9";
$hi-database: "\eaba";
$hi-death: "\eabb";
$hi-death_alt: "\eabc";
$hi-death_alt2: "\eabd";
$hi-default: "\eabe";
$hi-dhis2_logo: "\eabf";
$hi-diabetes-1: "\eac0";
$hi-diabetes_measure: "\eac1";
$hi-discharge: "\eac2";
$hi-eco_care: "\eac3";
$hi-electricity: "\eac4";
$hi-entry: "\eac5";
$hi-excel_logo: "\eac6";
$hi-exercise: "\eac7";
$hi-FHIR_logo: "\eac8";
$hi-fingerprint: "\eac9";
$hi-fruits: "\eaca";
$hi-geo_location: "\eacb";
$hi-global-pandemic: "\eacc";
$hi-globe: "\eacd";
$hi-guide_dog: "\eace";
$hi-hazardous: "\eacf";
$hi-health: "\ead0";
$hi-health_alt: "\ead1";
$hi-health_data_security: "\ead2";
$hi-health_data_sync: "\ead3";
$hi-health_literacy: "\ead4";
$hi-health_worker_form: "\ead5";
$hi-heart-1: "\ead6";
$hi-heart_cardiogram: "\ead7";
$hi-high_bars: "\ead8";
$hi-high_level: "\ead9";
$hi-home-quarantine: "\eada";
$hi-hospice: "\eadb";
$hi-hospital_symbol: "\eadc";
$hi-i_certificate_paper: "\eadd";
$hi-i_documents_accepted: "\eade";
$hi-i_documents_denied: "\eadf";
$hi-i_exam_multiple_choice: "\eae0";
$hi-i_exam_qualification: "\eae1";
$hi-i_note_action: "\eae2";
$hi-i_schedule_school_date_time: "\eae3";
$hi-imm: "\eae4";
$hi-info: "\eae5";
$hi-insecticide_resistance: "\eae6";
$hi-low_bars: "\eae7";
$hi-low_level: "\eae8";
$hi-magnifying_glass: "\eae9";
$hi-malaria_outbreak: "\eaea";
$hi-medical_advice: "\eaeb";
$hi-medium_bars: "\eaec";
$hi-medium_level: "\eaed";
$hi-megaphone: "\eaee";
$hi-mosquito: "\eaef";
$hi-negative: "\eaf0";
$hi-network_4g: "\eaf1";
$hi-network_5g: "\eaf2";
$hi-no: "\eaf3";
$hi-nutrition: "\eaf4";
$hi-openMRS_logo: "\eaf5";
$hi-outbreak: "\eaf6";
$hi-palliative-care: "\eaf7";
$hi-paved_road: "\eaf8";
$hi-paved_road_alt: "\eaf9";
$hi-peace: "\eafa";
$hi-pharmacy-1: "\eafb";
$hi-pharmacy_alt: "\eafc";
$hi-poison: "\eafd";
$hi-polygon: "\eafe";
$hi-positive: "\eaff";
$hi-prescription_document: "\eb00";
$hi-provider_fst: "\eb01";
$hi-question: "\eb02";
$hi-question_circle: "\eb03";
$hi-question_triangle: "\eb04";
$hi-referral: "\eb05";
$hi-register_book: "\eb06";
$hi-running_water_alt: "\eb07";
$hi-rx: "\eb08";
$hi-sexual_reproductive_health: "\eb09";
$hi-simple_logo: "\eb0a";
$hi-smoking: "\eb0b";
$hi-smoking_cessation: "\eb0c";
$hi-social_distancing: "\eb0d";
$hi-social_distancing_alt: "\eb0e";
$hi-stop: "\eb0f";
$hi-tally: "\eb10";
$hi-transgender: "\eb11";
$hi-ui_folder: "\eb12";
$hi-ui_folder_family: "\eb13";
$hi-ui_menu: "\eb14";
$hi-ui_menu_grid: "\eb15";
$hi-ui_preferences: "\eb16";
$hi-ui_secure: "\eb17";
$hi-ui_settings: "\eb18";
$hi-ui_user_profile: "\eb19";
$hi-ui_zoom: "\eb1a";
$hi-ui_zoom_in: "\eb1b";
$hi-ui_zoom_out: "\eb1c";
$hi-un_paved_road: "\eb1d";
$hi-virus: "\eb1e";
$hi-virus_alt: "\eb1f";
$hi-virus_patient: "\eb20";
$hi-virus_research_alt: "\eb21";
$hi-virus-mutation: "\eb22";
$hi-virus-research: "\eb23";
$hi-virus-shield: "\eb24";
$hi-water_treatment: "\eb25";
$hi-yes: "\eb26";
$hi-uniEB27: "\eb27";
$hi-0: "\eb28";
$hi-1: "\eb29";
$hi-2: "\eb2a";
$hi-3: "\eb2b";
$hi-4: "\eb2c";
$hi-5: "\eb2d";
$hi-6: "\eb2e";
$hi-7: "\eb2f";
$hi-8: "\eb30";
$hi-9: "\eb31";
$hi-A: "\eb32";
$hi-B: "\eb33";
$hi-C: "\eb34";
$hi-D: "\eb35";
$hi-dollar: "\eb36";
$hi-E: "\eb37";
$hi-F: "\eb38";
$hi-G: "\eb39";
$hi-ghana: "\eb3a";
$hi-H: "\eb3b";
$hi-I: "\eb3c";
$hi-J: "\eb3d";
$hi-K: "\eb3e";
$hi-L: "\eb3f";
$hi-M: "\eb40";
$hi-N: "\eb41";
$hi-O: "\eb42";
$hi-P: "\eb43";
$hi-Q: "\eb44";
$hi-question_mark: "\eb45";
$hi-R: "\eb46";
$hi-rupee: "\eb47";
$hi-S: "\eb48";
$hi-T: "\eb49";
$hi-U: "\eb4a";
$hi-V: "\eb4b";
$hi-W: "\eb4c";
$hi-X: "\eb4d";
$hi-Y: "\eb4e";
$hi-yen: "\eb4f";
$hi-Z: "\eb50";
$hi-x4: "\eb51";
$hi-ambulance: "\eb52";
$hi-basic_motorcycle: "\eb53";
$hi-bike: "\eb54";
$hi-cross_country_motorcycle: "\eb55";
$hi-drone: "\eb56";
$hi-helicopter: "\eb57";
$hi-machinery: "\eb58";
$hi-mobile_clinic: "\eb59";
$hi-small_plane: "\eb5a";
$hi-vespa_motorcycle: "\eb5b";
$hi-war: "\eb5c";
$hi-blood_a_n-1: "\eb5d";
$hi-blood_a_p-1: "\eb5e";
$hi-blood_ab_n-1: "\eb5f";
$hi-blood_ab_p-1: "\eb60";
$hi-blood_b_n-1: "\eb61";
$hi-blood_b_p-1: "\eb62";
$hi-blood_bag-1: "\eb63";
$hi-blood_o_n-1: "\eb64";
$hi-blood_o_p-1: "\eb65";
$hi-blood_rh_n-1: "\eb66";
$hi-blood_rh_p-1: "\eb67";
$hi-arm-1: "\eb68";
$hi-bacteria-1: "\eb69";
$hi-bladder-1: "\eb6a";
$hi-blood_cells-1: "\eb6b";
$hi-blood_drop-1: "\eb6c";
$hi-blood_vessel-1: "\eb6d";
$hi-body-1: "\eb6e";
$hi-dna-1: "\eb6f";
$hi-ear-1: "\eb70";
$hi-enzyme-1: "\eb71";
$hi-eye-1: "\eb72";
$hi-female_reproductive_system-1: "\eb73";
$hi-foot-1: "\eb74";
$hi-gallbladder-1: "\eb75";
$hi-heart-2: "\eb76";
$hi-intestine-1: "\eb77";
$hi-joints-1: "\eb78";
$hi-kidneys-1: "\eb79";
$hi-leg-1: "\eb7a";
$hi-liver-1: "\eb7b";
$hi-liver-alt-1: "\eb7c";
$hi-lungs-1: "\eb7d";
$hi-lymph_nodes-1: "\eb7e";
$hi-mouth-1: "\eb7f";
$hi-nerve-1: "\eb80";
$hi-neurology-1: "\eb81";
$hi-nose-1: "\eb82";
$hi-pancreas-1: "\eb83";
$hi-skeleton-1: "\eb84";
$hi-skull-1: "\eb85";
$hi-spine-1: "\eb86";
$hi-spleen-1: "\eb87";
$hi-stomach-1: "\eb88";
$hi-tooth-1: "\eb89";
$hi-allergies-1: "\eb8a";
$hi-back_pain-1: "\eb8b";
$hi-cervical_cancer-1: "\eb8c";
$hi-chills-1: "\eb8d";
$hi-chills_fever-1: "\eb8e";
$hi-coughing_alt-1: "\eb8f";
$hi-deaf-1: "\eb90";
$hi-diarrhea-1: "\eb91";
$hi-headache-1: "\eb92";
$hi-hiv_ind-1: "\eb93";
$hi-hiv_neg-1: "\eb94";
$hi-hiv_pos-1: "\eb95";
$hi-hpv-1: "\eb96";
$hi-intestinal-pain-1: "\eb97";
$hi-loss-smell-1: "\eb98";
$hi-low_vision-1: "\eb99";
$hi-nausea-1: "\eb9a";
$hi-overweight-1: "\eb9b";
$hi-pneumonia-1: "\eb9c";
$hi-ribbon-1: "\eb9d";
$hi-sti-1: "\eb9e";
$hi-sweating-2: "\eb9f";
$hi-tb-1: "\eba0";
$hi-underweight-1: "\eba1";
$hi-varicose_vein-1: "\eba2";
$hi-vih-1: "\eba3";
$hi-viral_lung_infection-1: "\eba4";
$hi-vomiting-1: "\eba5";
$hi-blood_pressure-1: "\eba6";
$hi-blood_pressure_2-1: "\eba7";
$hi-blood_pressure_monitor-1: "\eba8";
$hi-cast-1: "\eba9";
$hi-clinical_a-1: "\ebaa";
$hi-cold_chain-1: "\ebab";
$hi-contact_lenses-1: "\ebac";
$hi-defibrilator-1: "\ebad";
$hi-dental_hygiene-1: "\ebae";
$hi-discriminating_concentration_bioassays-1: "\ebaf";
$hi-disinfecting_wipes-1: "\ebb0";
$hi-exercise_bicycle-1: "\ebb1";
$hi-eyeglasses-2-path1: "\ebb2";
$hi-eyeglasses-2-path2: "\ebb3";
$hi-fever-2: "\ebb4";
$hi-hospitalized-1: "\ebb5";
$hi-inpatient-1: "\ebb6";
$hi-intravenous_bag-1: "\ebb7";
$hi-llin-1: "\ebb8";
$hi-microscope-1: "\ebb9";
$hi-mobile-1: "\ebba";
$hi-observation-1: "\ebbb";
$hi-odontology-1: "\ebbc";
$hi-odontology_implant-1: "\ebbd";
$hi-oxygen_tank-1: "\ebbe";
$hi-patient_band-1: "\ebbf";
$hi-patient_band_alt-1: "\ebc0";
$hi-ppe_apron-1: "\ebc1";
$hi-ppe_face_mask-1: "\ebc2";
$hi-ppe_face_shield-1: "\ebc3";
$hi-ppe_gloves-1: "\ebc4";
$hi-ppe_goggles-1: "\ebc5";
$hi-ppe_gown-1: "\ebc6";
$hi-ppe_mask_n95-1: "\ebc7";
$hi-ppe_sanitizer-1: "\ebc8";
$hi-ppe_santizer_alt-1: "\ebc9";
$hi-ppe_suit-1: "\ebca";
$hi-ppe-face-shield-alt-1: "\ebcb";
$hi-ppe-mask-1: "\ebcc";
$hi-respirator-1: "\ebcd";
$hi-sling-1: "\ebce";
$hi-stethoscope-1: "\ebcf";
$hi-surgical_sterilization-1: "\ebd0";
$hi-syringe-1: "\ebd1";
$hi-syringe-vaccine-1: "\ebd2";
$hi-tac-1: "\ebd3";
$hi-thermometer-1: "\ebd4";
$hi-thermometer_digital-1: "\ebd5";
$hi-treated_water-1: "\ebd6";
$hi-ventilator-1: "\ebd7";
$hi-ventilator_alt-1: "\ebd8";
$hi-virus_lab_research_syringe-1: "\ebd9";
$hi-virus_lab_research_test_tube-1: "\ebda";
$hi-virus-sanitizer-spray-1: "\ebdb";
$hi-weight-1: "\ebdc";
$hi-wheelchair-1: "\ebdd";
$hi-wheelchair_alt-1: "\ebde";
$hi-xray-1: "\ebdf";
$hi-cone_test_on_nets-1: "\ebe0";
$hi-cone_test_on_walls-1: "\ebe1";
$hi-hiv_self_test-1: "\ebe2";
$hi-intensity_concentration_bioassays-1: "\ebe3";
$hi-malaria_microscope-1: "\ebe4";
$hi-malaria_mixed_microscope-1: "\ebe5";
$hi-malaria_pf_microscope-1: "\ebe6";
$hi-malaria_pv_microscope-1: "\ebe7";
$hi-malaria_testing-1: "\ebe8";
$hi-mosquito_collection-1: "\ebe9";
$hi-rdt_result-1: "\ebea";
$hi-rdt_result_invalid-1: "\ebeb";
$hi-rdt_result_mixed-1: "\ebec";
$hi-rdt_result_mixed_invalid-1: "\ebed";
$hi-rdt_result_mixed_invalid_rectangular-1: "\ebee";
$hi-rdt_result_mixed_rectangular-1: "\ebef";
$hi-rdt_result_neg-1: "\ebf0";
$hi-rdt_result_neg_invalid-1: "\ebf1";
$hi-rdt_result_neg_invalid_rectangular-1: "\ebf2";
$hi-rdt_result_neg_rectangular-1: "\ebf3";
$hi-rdt_result_no_test-1: "\ebf4";
$hi-rdt_result_pf-1: "\ebf5";
$hi-rdt_result_pf_invalid-1: "\ebf6";
$hi-rdt_result_pf_invalid_rectangular-1: "\ebf7";
$hi-rdt_result_pf_rectangular-1: "\ebf8";
$hi-rdt_result_positive-1: "\ebf9";
$hi-rdt_result_pv-1: "\ebfa";
$hi-rdt_result_pv_invalid-1: "\ebfb";
$hi-rdt_result_pv_invalid_rectangular-1: "\ebfc";
$hi-rdt_result_pv_rectangular-1: "\ebfd";
$hi-synergist_insecticide_bioassays-1: "\ebfe";
$hi-angry-1: "\ebff";
$hi-bandaged-1: "\ec00";
$hi-calm-1: "\ec01";
$hi-confused-1: "\ec02";
$hi-coughing-1: "\ec03";
$hi-crying-1: "\ec04";
$hi-dizzy-1: "\ec05";
$hi-expectorate-1: "\ec06";
$hi-eyeglasses-3: "\ec07";
$hi-fever-3: "\ec08";
$hi-happy-1: "\ec09";
$hi-loudly_crying-1: "\ec0a";
$hi-masked-1: "\ec0b";
$hi-measles-1: "\ec0c";
$hi-nauseous-1: "\ec0d";
$hi-nervous-1: "\ec0e";
$hi-neutral-1: "\ec0f";
$hi-not_ok-1: "\ec10";
$hi-ok-1: "\ec11";
$hi-sad-1: "\ec12";
$hi-sleepy-1: "\ec13";
$hi-sweating-3: "\ec14";
$hi-tongue-1: "\ec15";
$hi-vomitting-1: "\ec16";
$hi-woozy-1: "\ec17";
$hi-contraceptive_diaphragm-1: "\ec18";
$hi-contraceptive_injection-1: "\ec19";
$hi-contraceptive_patch-1: "\ec1a";
$hi-contraceptive_voucher-1: "\ec1b";
$hi-copper_iud-1: "\ec1c";
$hi-family_planning-1: "\ec1d";
$hi-female_condom-1: "\ec1e";
$hi-hormonal_ring-1: "\ec1f";
$hi-implant-1: "\ec20";
$hi-iud-1: "\ec21";
$hi-male_condom-1: "\ec22";
$hi-oral_contraception_pillsx21-1: "\ec23";
$hi-oral_contraception_pillsx28-1: "\ec24";
$hi-sayana_press-1: "\ec25";
$hi-sperm-1: "\ec26";
$hi-blister_pills_oval_x1-1: "\ec27";
$hi-blister_pills_oval_x4-1: "\ec28";
$hi-blister_pills_oval_x14-1: "\ec29";
$hi-blister_pills_oval_x16-1: "\ec2a";
$hi-blister_pills_round_x1-1: "\ec2b";
$hi-blister_pills_round_x4-1: "\ec2c";
$hi-blister_pills_round_x14-1: "\ec2d";
$hi-blister_pills_round_x16-1: "\ec2e";
$hi-medicines-1: "\ec2f";
$hi-pill_1-1: "\ec30";
$hi-pills_2-1: "\ec31";
$hi-pills_3-1: "\ec32";
$hi-pills_4-1: "\ec33";
$hi-bandage_adhesive-1: "\ec34";
$hi-bills-1: "\ec35";
$hi-cleaning-1: "\ec36";
$hi-coins-1: "\ec37";
$hi-construction-1: "\ec38";
$hi-credit_card-1: "\ec39";
$hi-desktop_app-1: "\ec3a";
$hi-hot_meal-1: "\ec3b";
$hi-i_utensils-1: "\ec3c";
$hi-justice-1: "\ec3d";
$hi-money_bag-1: "\ec3e";
$hi-phone-1: "\ec3f";
$hi-rdt_result_out_stock-1: "\ec40";
$hi-running_water-1: "\ec41";
$hi-spreadsheets-1: "\ec42";
$hi-stock_out-1: "\ec43";
$hi-umbrella-1: "\ec44";
$hi-unhealthy_food-1: "\ec45";
$hi-agriculture-1: "\ec46";
$hi-agriculture_worker-1: "\ec47";
$hi-agriculture_worker_alt-1: "\ec48";
$hi-ancv-1: "\ec49";
$hi-asthma-1: "\ec4a";
$hi-baby_0203_alt-1: "\ec4b";
$hi-baby_0203m-1: "\ec4c";
$hi-baby_0306m-1: "\ec4d";
$hi-baby_female_0203m_alt-1: "\ec4e";
$hi-baby_female_0306m-1: "\ec4f";
$hi-baby_female_0609m-1: "\ec50";
$hi-baby_male_0203m_alt-1: "\ec51";
$hi-baby_male_0306m-1: "\ec52";
$hi-baby_male_0609m-1: "\ec53";
$hi-boy_0105y-1: "\ec54";
$hi-boy_1015y-1: "\ec55";
$hi-call_centre-1: "\ec56";
$hi-child_care-1: "\ec57";
$hi-child_cognition-1: "\ec58";
$hi-child_program-1: "\ec59";
$hi-city_worker-1: "\ec5a";
$hi-clean_hands-1: "\ec5b";
$hi-community_healthworker-1: "\ec5c";
$hi-construction_worker-1: "\ec5d";
$hi-diabetes-2: "\ec5e";
$hi-doctor-1: "\ec5f";
$hi-doctor_female-1: "\ec60";
$hi-doctor_male-1: "\ec61";
$hi-domestic_worker-1: "\ec62";
$hi-domestic_worker_alt-1: "\ec63";
$hi-elderly-1: "\ec64";
$hi-exercise_running-1: "\ec65";
$hi-exercise_walk_supported-1: "\ec66";
$hi-exercise_walking-1: "\ec67";
$hi-exercise_weights-1: "\ec68";
$hi-factory_worker-1: "\ec69";
$hi-female_and_male-1: "\ec6a";
$hi-female_sex_worker-1: "\ec6b";
$hi-fetus-1: "\ec6c";
$hi-forum-1: "\ec6d";
$hi-girl_0105y-1: "\ec6e";
$hi-girl_1015y-1: "\ec6f";
$hi-group_discussion_meeting-1: "\ec70";
$hi-group_discussion_meetingx3-1: "\ec71";
$hi-health_worker-1: "\ec72";
$hi-i_groups_perspective_crowd-1: "\ec73";
$hi-i_training_class-1: "\ec74";
$hi-lactation-1: "\ec75";
$hi-male_and_female-1: "\ec76";
$hi-male_sex_worker-1: "\ec77";
$hi-man-1: "\ec78";
$hi-mental_disorders-1: "\ec79";
$hi-military_worker-1: "\ec7a";
$hi-miner_worker-1: "\ec7b";
$hi-miner_worker_alt-1: "\ec7c";
$hi-msm-1: "\ec7d";
$hi-neuro_surgery-1: "\ec7e";
$hi-nurse-1: "\ec7f";
$hi-officer-1: "\ec80";
$hi-old_man-1: "\ec81";
$hi-old_woman-1: "\ec82";
$hi-outpatient-1: "\ec83";
$hi-pediatric_surgery-1: "\ec84";
$hi-people-1: "\ec85";
$hi-person-1: "\ec86";
$hi-plantation_worker-1: "\ec87";
$hi-plantation_worker_alt-1: "\ec88";
$hi-pregnant-1: "\ec89";
$hi-pregnant_32w-1: "\ec8a";
$hi-pregnant_0812w-1: "\ec8b";
$hi-pregnant_2426w-1: "\ec8c";
$hi-pregnant_3638w-1: "\ec8d";
$hi-prisoner-1: "\ec8e";
$hi-pwid-1: "\ec8f";
$hi-refused-1: "\ec90";
$hi-rmnh-1: "\ec91";
$hi-security_worker-1: "\ec92";
$hi-speech_language_therapy-2: "\ec93";
$hi-spraying-1: "\ec94";
$hi-symptom-1: "\ec95";
$hi-traumatism-1: "\ec96";
$hi-travel-1: "\ec97";
$hi-travel_alt-1: "\ec98";
$hi-truck_driver-1: "\ec99";
$hi-wash_hands-1: "\ec9a";
$hi-water_sanitation-1: "\ec9b";
$hi-woman-1: "\ec9c";
$hi-world_care-1: "\ec9d";
$hi-young_people-1: "\ec9e";
$hi-ambulatory_clinic-1: "\ec9f";
$hi-church-1: "\eca0";
$hi-city-1: "\eca1";
$hi-emergency_post-1: "\eca2";
$hi-forest-1: "\eca3";
$hi-forest_persons-1: "\eca4";
$hi-home-1: "\eca5";
$hi-home_alt-1: "\eca6";
$hi-hospital-1: "\eca7";
$hi-letrina-1: "\eca8";
$hi-letrina_alt-1: "\eca9";
$hi-market_stall-1: "\ecaa";
$hi-ministry_of_health-1: "\ecab";
$hi-mosque-1: "\ecac";
$hi-palm_branches_roof-1: "\ecad";
$hi-proper_roof-1: "\ecae";
$hi-rural_post-1: "\ecaf";
$hi-rural_post_alt-1: "\ecb0";
$hi-temple-1: "\ecb1";
$hi-temple_alt-1: "\ecb2";
$hi-village-1: "\ecb3";
$hi-circle_large-1: "\ecb4";
$hi-circle_medium-1: "\ecb5";
$hi-circle_small-1: "\ecb6";
$hi-information_campaign-1: "\ecb7";
$hi-square_large-1: "\ecb8";
$hi-square_medium-1: "\ecb9";
$hi-square_small-1: "\ecba";
$hi-star_large-1: "\ecbb";
$hi-star_medium-1: "\ecbc";
$hi-star_small-1: "\ecbd";
$hi-triangle_large-1: "\ecbe";
$hi-triangle_medium-1: "\ecbf";
$hi-triangle_small-1: "\ecc0";
$hi-accident_and_emergency-1: "\ecc1";
$hi-admissions-1: "\ecc2";
$hi-biochemistry_laboratory-1: "\ecc3";
$hi-cardiology-1: "\ecc4";
$hi-chaplaincy-1: "\ecc5";
$hi-coronary_care_unit-1: "\ecc6";
$hi-critical_care-1: "\ecc7";
$hi-discharge_lounge-1: "\ecc8";
$hi-ears_nose_and_throat-1: "\ecc9";
$hi-endocrinology-1: "\ecca";
$hi-finance_dept-1: "\eccb";
$hi-gastroenterology-1: "\eccc";
$hi-geriatrics-1: "\eccd";
$hi-gym-1: "\ecce";
$hi-gynecology-1: "\eccf";
$hi-hematology-1: "\ecd0";
$hi-hematology_laboratory-1: "\ecd1";
$hi-hepatology-1: "\ecd2";
$hi-human_resoruces-1: "\ecd3";
$hi-intensive_care_unit-1: "\ecd4";
$hi-medical_records-1: "\ecd5";
$hi-nephrology-1: "\ecd6";
$hi-obstetricsmonia-1: "\ecd7";
$hi-oncology-1: "\ecd8";
$hi-opthalmology-1: "\ecd9";
$hi-orthopaedics-1: "\ecda";
$hi-outpatient_department-1: "\ecdb";
$hi-pediatrics-1: "\ecdc";
$hi-pharmacy-2: "\ecdd";
$hi-physical_therapy-1: "\ecde";
$hi-psychology-1: "\ecdf";
$hi-radiology-1: "\ece0";
$hi-respirology-1: "\ece1";
$hi-rheumatology-1: "\ece2";
$hi-social_work-1: "\ece3";
$hi-sonography-1: "\ece4";
$hi-speech_language_therapy-3: "\ece5";
$hi-urology-1: "\ece6";
$hi-g-1: "\ece7";
$hi-g-11: "\ece8";
$hi-alcohol-1: "\ece9";
$hi-alert-1: "\ecea";
$hi-alert_circle-1: "\eceb";
$hi-alert_triangle-1: "\ecec";
$hi-animal_chicken-1: "\eced";
$hi-animal_cow-1: "\ecee";
$hi-animal_donkey-1: "\ecef";
$hi-animal_spider-1: "\ecf0";
$hi-animal_tick-1: "\ecf1";
$hi-assembly_point-1: "\ecf2";
$hi-award_ribbon-1: "\ecf3";
$hi-award_trophy-1: "\ecf4";
$hi-book-1: "\ecf5";
$hi-breeding_sites-1: "\ecf6";
$hi-calendar-1: "\ecf7";
$hi-calendar-quarantine-1: "\ecf8";
$hi-cannabis-1: "\ecf9";
$hi-cardiogram-1: "\ecfa";
$hi-cardiogram_e-1: "\ecfb";
$hi-chart_bar-1: "\ecfc";
$hi-chart_bar_stacked-1: "\ecfd";
$hi-chart_line-1: "\ecfe";
$hi-chart_line_stacked-1: "\ecff";
$hi-chart_pie-1: "\ed00";
$hi-chart-cured-decreasing-1: "\ed01";
$hi-chart-cured-increasing-1: "\ed02";
$hi-chart-death-rate-decreasing-1: "\ed03";
$hi-chart-death-rate-increasing-1: "\ed04";
$hi-chart-death-rate-stable-1: "\ed05";
$hi-chart-infected-decreasing-1: "\ed06";
$hi-chart-infected-increasing-1: "\ed07";
$hi-chart-infected-stable-1: "\ed08";
$hi-cholera-1: "\ed09";
$hi-clinical_f-1: "\ed0a";
$hi-clinical_fe-1: "\ed0b";
$hi-communication-1: "\ed0c";
$hi-community_meeting-1: "\ed0d";
$hi-contact_support-1: "\ed0e";
$hi-database-1: "\ed0f";
$hi-death-1: "\ed10";
$hi-death_alt-1: "\ed11";
$hi-death_alt2-1: "\ed12";
$hi-default-1: "\ed13";
$hi-dhis2_logo-1: "\ed14";
$hi-diabetes-3: "\ed15";
$hi-diabetes_measure-1: "\ed16";
$hi-discharge-1: "\ed17";
$hi-eco_care-1: "\ed18";
$hi-electricity-1: "\ed19";
$hi-entry-1: "\ed1a";
$hi-excel_logo-1: "\ed1b";
$hi-exercise-1: "\ed1c";
$hi-FHIR_logo-1: "\ed1d";
$hi-fingerprint-1: "\ed1e";
$hi-fruits-1: "\ed1f";
$hi-geo_location-1: "\ed20";
$hi-global-pandemic-1: "\ed21";
$hi-globe-1: "\ed22";
$hi-guide_dog-1: "\ed23";
$hi-hazardous-1: "\ed24";
$hi-health-1: "\ed25";
$hi-health_alt-1: "\ed26";
$hi-health_data_security-1: "\ed27";
$hi-health_data_sync-1: "\ed28";
$hi-health_literacy-1: "\ed29";
$hi-health_worker_form-1: "\ed2a";
$hi-heart-3: "\ed2b";
$hi-heart_cardiogram-1: "\ed2c";
$hi-high_bars-1: "\ed2d";
$hi-high_level-1: "\ed2e";
$hi-home-quarantine-1: "\ed2f";
$hi-hospice-1: "\ed30";
$hi-hospital_symbol-1: "\ed31";
$hi-i_certificate_paper-1: "\ed32";
$hi-i_documents_accepted-1: "\ed33";
$hi-i_documents_denied-1: "\ed34";
$hi-i_exam_multiple_choice-1: "\ed35";
$hi-i_exam_qualification-1: "\ed36";
$hi-i_note_action-1: "\ed37";
$hi-i_schedule_school_date_time-1: "\ed38";
$hi-imm-1: "\ed39";
$hi-info-1: "\ed3a";
$hi-insecticide_resistance-1: "\ed3b";
$hi-low_bars-1: "\ed3c";
$hi-low_level-1: "\ed3d";
$hi-magnifying_glass-1: "\ed3e";
$hi-malaria_outbreak-1: "\ed3f";
$hi-medical_advice-1: "\ed40";
$hi-medium_bars-1: "\ed41";
$hi-medium_level-1: "\ed42";
$hi-megaphone-1: "\ed43";
$hi-mosquito-1: "\ed44";
$hi-negative-1: "\ed45";
$hi-network_4g-1: "\ed46";
$hi-network_5g-1: "\ed47";
$hi-no-1: "\ed48";
$hi-nutrition-1: "\ed49";
$hi-openMRS_logo-1: "\ed4a";
$hi-outbreak-1: "\ed4b";
$hi-palliative-care-1: "\ed4c";
$hi-paved_road-1: "\ed4d";
$hi-paved_road_alt-1: "\ed4e";
$hi-peace-1: "\ed4f";
$hi-pharmacy-3: "\ed50";
$hi-pharmacy_alt-1: "\ed51";
$hi-poison-1: "\ed52";
$hi-polygon-1: "\ed53";
$hi-positive-1: "\ed54";
$hi-prescription_document-1: "\ed55";
$hi-provider_fst-1: "\ed56";
$hi-question-1: "\ed57";
$hi-question_circle-1: "\ed58";
$hi-question_triangle-1: "\ed59";
$hi-referral-1: "\ed5a";
$hi-register_book-1: "\ed5b";
$hi-running_water_alt-1: "\ed5c";
$hi-rx-1: "\ed5d";
$hi-sexual_reproductive_health-1: "\ed5e";
$hi-simple_logo-1: "\ed5f";
$hi-smoking-1: "\ed60";
$hi-smoking_cessation-1: "\ed61";
$hi-social_distancing-1: "\ed62";
$hi-social_distancing_alt-1: "\ed63";
$hi-stop-1: "\ed64";
$hi-tally-1: "\ed65";
$hi-transgender-1: "\ed66";
$hi-ui_folder-1: "\ed67";
$hi-ui_folder_family-1: "\ed68";
$hi-ui_menu-1: "\ed69";
$hi-ui_menu_grid-1: "\ed6a";
$hi-ui_preferences-1: "\ed6b";
$hi-ui_secure-1: "\ed6c";
$hi-ui_settings-1: "\ed6d";
$hi-ui_user_profile-1: "\ed6e";
$hi-ui_zoom-1: "\ed6f";
$hi-ui_zoom_in-1: "\ed70";
$hi-ui_zoom_out-1: "\ed71";
$hi-un_paved_road-1: "\ed72";
$hi-virus-1: "\ed73";
$hi-virus_alt-1: "\ed74";
$hi-virus_patient-1: "\ed75";
$hi-virus_research_alt-1: "\ed76";
$hi-virus-mutation-1: "\ed77";
$hi-virus-research-1: "\ed78";
$hi-virus-shield-1: "\ed79";
$hi-water_treatment-1: "\ed7a";
$hi-yes-1: "\ed7b";
$hi--1: "\ed7c";
$hi-11: "\ed7d";
$hi-12: "\ed7e";
$hi-13: "\ed7f";
$hi-14: "\ed80";
$hi-15: "\ed81";
$hi-16: "\ed82";
$hi-17: "\ed83";
$hi-18: "\ed84";
$hi-19: "\ed85";
$hi-110: "\ed86";
$hi-A-1: "\ed87";
$hi-B-1: "\ed88";
$hi-C-1: "\ed89";
$hi-D-1: "\ed8a";
$hi-dollar-1: "\ed8b";
$hi-E-1: "\ed8c";
$hi-F-1: "\ed8d";
$hi-G-1: "\ed8e";
$hi-ghana-1: "\ed8f";
$hi-H-1: "\ed90";
$hi-I-1: "\ed91";
$hi-J-1: "\ed92";
$hi-K-1: "\ed93";
$hi-L-1: "\ed94";
$hi-M-1: "\ed95";
$hi-N-1: "\ed96";
$hi-O-1: "\ed97";
$hi-P-1: "\ed98";
$hi-Q-1: "\ed99";
$hi-question_mark-1: "\ed9a";
$hi-R-1: "\ed9b";
$hi-rupee-1: "\ed9c";
$hi-S-1: "\ed9d";
$hi-T-1: "\ed9e";
$hi-U-1: "\ed9f";
$hi-V-1: "\eda0";
$hi-W-1: "\eda1";
$hi-X-1: "\eda2";
$hi-Y-1: "\eda3";
$hi-yen-1: "\eda4";
$hi-Z-1: "\eda5";
$hi-x4-1: "\eda6";
$hi-ambulance-1: "\eda7";
$hi-basic_motorcycle-1: "\eda8";
$hi-bike-1: "\eda9";
$hi-cross_country_motorcycle-1: "\edaa";
$hi-drone-1: "\edab";
$hi-helicopter-1: "\edac";
$hi-machinery-1: "\edad";
$hi-mobile_clinic-1: "\edae";
$hi-small_plane-1: "\edaf";
$hi-vespa_motorcycle-1: "\edb0";
$hi-war-1: "\edb1";
$hi-blood_a_n-2: "\edb2";
$hi-blood_a_p-2: "\edb3";
$hi-blood_ab_n-2: "\edb4";
$hi-blood_ab_p-2: "\edb5";
$hi-blood_b_n-2: "\edb6";
$hi-blood_b_p-2: "\edb7";
$hi-blood_bag-2: "\edb8";
$hi-blood_o_n-2: "\edb9";
$hi-blood_o_p-2: "\edba";
$hi-blood_rh_n-2: "\edbb";
$hi-blood_rh_p-2: "\edbc";
$hi-arm-2: "\edbd";
$hi-bacteria-2: "\edbe";
$hi-bladder-2: "\edbf";
$hi-blood_cells-2: "\edc0";
$hi-blood_drop-2: "\edc1";
$hi-blood_vessel-2: "\edc2";
$hi-body-2: "\edc3";
$hi-dna-2: "\edc4";
$hi-ear-2: "\edc5";
$hi-enzyme-2: "\edc6";
$hi-eye-2: "\edc7";
$hi-female_reproductive_system-2: "\edc8";
$hi-foot-2: "\edc9";
$hi-gallbladder-2: "\edca";
$hi-heart-4: "\edcb";
$hi-intestine-2: "\edcc";
$hi-joints-2: "\edcd";
$hi-kidneys-2: "\edce";
$hi-leg-2: "\edcf";
$hi-liver-2: "\edd0";
$hi-liver-alt-2: "\edd1";
$hi-lungs-2: "\edd2";
$hi-lymph_nodes-2: "\edd3";
$hi-mouth-2: "\edd4";
$hi-nerve-2: "\edd5";
$hi-neurology-2: "\edd6";
$hi-nose-2: "\edd7";
$hi-pancreas-2: "\edd8";
$hi-skeleton-2: "\edd9";
$hi-skull-2: "\edda";
$hi-spine-2: "\eddb";
$hi-spleen-2: "\eddc";
$hi-stomach-2: "\eddd";
$hi-tooth-2: "\edde";
$hi-allergies-2: "\eddf";
$hi-back_pain-2: "\ede0";
$hi-cervical_cancer-2: "\ede1";
$hi-chills-2: "\ede2";
$hi-chills_fever-2: "\ede3";
$hi-coughing_alt-2: "\ede4";
$hi-deaf-2: "\ede5";
$hi-diarrhea-2: "\ede6";
$hi-headache-2: "\ede7";
$hi-hiv_ind-2: "\ede8";
$hi-hiv_neg-2: "\ede9";
$hi-hiv_pos-2: "\edea";
$hi-hpv-2: "\edeb";
$hi-intestinal-pain-2: "\edec";
$hi-loss-smell-2: "\eded";
$hi-low_vision-2: "\edee";
$hi-nausea-2: "\edef";
$hi-overweight-2: "\edf0";
$hi-pneumonia-2: "\edf1";
$hi-ribbon-2: "\edf2";
$hi-sti-2: "\edf3";
$hi-sweating-4: "\edf4";
$hi-tb-2: "\edf5";
$hi-underweight-2: "\edf6";
$hi-varicose_vein-2: "\edf7";
$hi-vih-2: "\edf8";
$hi-viral_lung_infection-2: "\edf9";
$hi-vomiting-2: "\edfa";
$hi-blood_pressure-2: "\edfb";
$hi-blood_pressure_2-2: "\edfc";
$hi-blood_pressure_monitor-2: "\edfd";
$hi-cast-2: "\edfe";
$hi-clinical_a-2: "\edff";
$hi-cold_chain-2: "\ee00";
$hi-contact_lenses-2: "\ee01";
$hi-defibrilator-2: "\ee02";
$hi-dental_hygiene-2: "\ee03";
$hi-discriminating_concentration_bioassays-2: "\ee04";
$hi-disinfecting_wipes-2: "\ee05";
$hi-exercise_bicycle-2: "\ee06";
$hi-eyeglasses-4: "\ee07";
$hi-fever-4: "\ee08";
$hi-hospitalized-2: "\ee09";
$hi-inpatient-2: "\ee0a";
$hi-intravenous_bag-2: "\ee0b";
$hi-llin-2: "\ee0c";
$hi-microscope-2: "\ee0d";
$hi-mobile-2: "\ee0e";
$hi-observation-2: "\ee0f";
$hi-odontology-2: "\ee10";
$hi-odontology_implant-2: "\ee11";
$hi-oxygen_tank-2: "\ee12";
$hi-patient_band-2: "\ee13";
$hi-patient_band_alt-2: "\ee14";
$hi-ppe_apron-2: "\ee15";
$hi-ppe_face_mask-2: "\ee16";
$hi-ppe_face_shield-2: "\ee17";
$hi-ppe_gloves-2: "\ee18";
$hi-ppe_goggles-2: "\ee19";
$hi-ppe_gown-2: "\ee1a";
$hi-ppe_mask_n95-2: "\ee1b";
$hi-ppe_sanitizer-2: "\ee1c";
$hi-ppe_santizer_alt-2: "\ee1d";
$hi-ppe_suit-2: "\ee1e";
$hi-ppe-face-shield-alt-2: "\ee1f";
$hi-ppe-mask-2: "\ee20";
$hi-respirator-2: "\ee21";
$hi-sling-2: "\ee22";
$hi-stethoscope-2: "\ee23";
$hi-surgical_sterilization-2: "\ee24";
$hi-syringe-2: "\ee25";
$hi-syringe-vaccine-2: "\ee26";
$hi-tac-2: "\ee27";
$hi-thermometer-2: "\ee28";
$hi-thermometer_digital-2: "\ee29";
$hi-treated_water-2: "\ee2a";
$hi-ventilator-2: "\ee2b";
$hi-ventilator_alt-2: "\ee2c";
$hi-virus_lab_research_syringe-2: "\ee2d";
$hi-virus_lab_research_test_tube-2: "\ee2e";
$hi-virus-sanitizer-spray-2: "\ee2f";
$hi-weight-2: "\ee30";
$hi-wheelchair-2: "\ee31";
$hi-wheelchair_alt-2: "\ee32";
$hi-xray-2: "\ee33";
$hi-cone_test_on_nets-2: "\ee34";
$hi-cone_test_on_walls-2: "\ee35";
$hi-hiv_self_test-2: "\ee36";
$hi-intensity_concentration_bioassays-2: "\ee37";
$hi-malaria_microscope-2: "\ee38";
$hi-malaria_mixed_microscope-2: "\ee39";
$hi-malaria_pf_microscope-2: "\ee3a";
$hi-malaria_pv_microscope-2: "\ee3b";
$hi-malaria_testing-2: "\ee3c";
$hi-mosquito_collection-2: "\ee3d";
$hi-rdt_result-2: "\ee3e";
$hi-rdt_result_invalid-2: "\ee3f";
$hi-rdt_result_mixed-2: "\ee40";
$hi-rdt_result_mixed_invalid-2: "\ee41";
$hi-rdt_result_mixed_invalid_rectangular-2: "\ee42";
$hi-rdt_result_mixed_rectangular-2: "\ee43";
$hi-rdt_result_neg-2: "\ee44";
$hi-rdt_result_neg_invalid-2: "\ee45";
$hi-rdt_result_neg_invalid_rectangular-2: "\ee46";
$hi-rdt_result_neg_rectangular-2: "\ee47";
$hi-rdt_result_no_test-2: "\ee48";
$hi-rdt_result_pf-2: "\ee49";
$hi-rdt_result_pf_invalid-2: "\ee4a";
$hi-rdt_result_pf_invalid_rectangular-2: "\ee4b";
$hi-rdt_result_pf_rectangular-2: "\ee4c";
$hi-rdt_result_positive-2: "\ee4d";
$hi-rdt_result_pv-2: "\ee4e";
$hi-rdt_result_pv_invalid-2: "\ee4f";
$hi-rdt_result_pv_invalid_rectangular-2: "\ee50";
$hi-rdt_result_pv_rectangular-2: "\ee51";
$hi-synergist_insecticide_bioassays-2: "\ee52";
$hi-angry-2: "\ee53";
$hi-bandaged-2: "\ee54";
$hi-calm-2: "\ee55";
$hi-confused-2: "\ee56";
$hi-coughing-2: "\ee57";
$hi-crying-2: "\ee58";
$hi-dizzy-2: "\ee59";
$hi-expectorate-2: "\ee5a";
$hi-eyeglasses-5: "\ee5b";
$hi-fever-5: "\ee5c";
$hi-happy-2: "\ee5d";
$hi-loudly_crying-2: "\ee5e";
$hi-masked-2: "\ee5f";
$hi-measles-2: "\ee60";
$hi-nauseous-2: "\ee61";
$hi-nervous-2: "\ee62";
$hi-neutral-2: "\ee63";
$hi-not_ok-2: "\ee64";
$hi-ok-2: "\ee65";
$hi-sad-2: "\ee66";
$hi-sleepy-2: "\ee67";
$hi-sweating-5: "\ee68";
$hi-tongue-2: "\ee69";
$hi-vomitting-2: "\ee6a";
$hi-woozy-2: "\ee6b";
$hi-contraceptive_diaphragm-2: "\ee6c";
$hi-contraceptive_injection-2: "\ee6d";
$hi-contraceptive_patch-2: "\ee6e";
$hi-contraceptive_voucher-2: "\ee6f";
$hi-copper_iud-2: "\ee70";
$hi-family_planning-2: "\ee71";
$hi-female_condom-2: "\ee72";
$hi-hormonal_ring-2: "\ee73";
$hi-implant-2: "\ee74";
$hi-iud-2: "\ee75";
$hi-male_condom-2: "\ee76";
$hi-oral_contraception_pillsx21-2: "\ee77";
$hi-oral_contraception_pillsx28-2: "\ee78";
$hi-sayana_press-2: "\ee79";
$hi-sperm-2: "\ee7a";
$hi-blister_pills_oval_x1-2: "\ee7b";
$hi-blister_pills_oval_x4-2: "\ee7c";
$hi-blister_pills_oval_x14-2: "\ee7d";
$hi-blister_pills_oval_x16-2: "\ee7e";
$hi-blister_pills_round_x1-2: "\ee7f";
$hi-blister_pills_round_x4-2: "\ee80";
$hi-blister_pills_round_x14-2: "\ee81";
$hi-blister_pills_round_x16-2: "\ee82";
$hi-medicines-2: "\ee83";
$hi-pill_1-2: "\ee84";
$hi-pills_2-2: "\ee85";
$hi-pills_3-2: "\ee86";
$hi-pills_4-2: "\ee87";
$hi-bandage_adhesive-2: "\ee88";
$hi-bills-2: "\ee89";
$hi-cleaning-2: "\ee8a";
$hi-coins-2: "\ee8b";
$hi-construction-2: "\ee8c";
$hi-credit_card-2: "\ee8d";
$hi-desktop_app-2: "\ee8e";
$hi-hot_meal-2: "\ee8f";
$hi-i_utensils-2: "\ee90";
$hi-justice-2: "\ee91";
$hi-money_bag-2: "\ee92";
$hi-phone-2: "\ee93";
$hi-rdt_result_out_stock-2: "\ee94";
$hi-running_water-2: "\ee95";
$hi-spreadsheets-2: "\ee96";
$hi-stock_out-2: "\ee97";
$hi-umbrella-2: "\ee98";
$hi-unhealthy_food-2: "\ee99";
$hi-agriculture-2: "\ee9a";
$hi-agriculture_worker-2: "\ee9b";
$hi-agriculture_worker_alt-2: "\ee9c";
$hi-ancv-2: "\ee9d";
$hi-asthma-2: "\ee9e";
$hi-baby_0203_alt-2: "\ee9f";
$hi-baby_0203m-2: "\eea0";
$hi-baby_0306m-2: "\eea1";
$hi-baby_female_0203m_alt-2: "\eea2";
$hi-baby_female_0306m-2: "\eea3";
$hi-baby_female_0609m-2: "\eea4";
$hi-baby_male_0203m_alt-2: "\eea5";
$hi-baby_male_0306m-2: "\eea6";
$hi-baby_male_0609m-2: "\eea7";
$hi-boy_0105y-2: "\eea8";
$hi-boy_1015y-2: "\eea9";
$hi-call_centre-2: "\eeaa";
$hi-child_care-2: "\eeab";
$hi-child_cognition-2: "\eeac";
$hi-child_program-2: "\eead";
$hi-city_worker-2: "\eeae";
$hi-clean_hands-2: "\eeaf";
$hi-community_healthworker-2: "\eeb0";
$hi-construction_worker-2: "\eeb1";
$hi-diabetes-4: "\eeb2";
$hi-doctor-2: "\eeb3";
$hi-doctor_female-2: "\eeb4";
$hi-doctor_male-2: "\eeb5";
$hi-domestic_worker-2: "\eeb6";
$hi-domestic_worker_alt-2: "\eeb7";
$hi-elderly-2: "\eeb8";
$hi-exercise_running-2: "\eeb9";
$hi-exercise_walk_supported-2: "\eeba";
$hi-exercise_walking-2: "\eebb";
$hi-exercise_weights-2: "\eebc";
$hi-factory_worker-2: "\eebd";
$hi-female_and_male-2: "\eebe";
$hi-female_sex_worker-2: "\eebf";
$hi-fetus-2: "\eec0";
$hi-forum-2: "\eec1";
$hi-girl_0105y-2: "\eec2";
$hi-girl_1015y-2: "\eec3";
$hi-group_discussion_meeting-2: "\eec4";
$hi-group_discussion_meetingx3-2: "\eec5";
$hi-health_worker-2: "\eec6";
$hi-i_groups_perspective_crowd-2: "\eec7";
$hi-i_training_class-2: "\eec8";
$hi-lactation-2: "\eec9";
$hi-male_and_female-2: "\eeca";
$hi-male_sex_worker-2: "\eecb";
$hi-man-2: "\eecc";
$hi-mental_disorders-2: "\eecd";
$hi-military_worker-2: "\eece";
$hi-miner_worker-2: "\eecf";
$hi-miner_worker_alt-2: "\eed0";
$hi-msm-2: "\eed1";
$hi-neuro_surgery-2: "\eed2";
$hi-nurse-2: "\eed3";
$hi-officer-2: "\eed4";
$hi-old_man-2: "\eed5";
$hi-old_woman-2: "\eed6";
$hi-outpatient-2: "\eed7";
$hi-pediatric_surgery-2: "\eed8";
$hi-people-2: "\eed9";
$hi-person-2: "\eeda";
$hi-plantation_worker-2: "\eedb";
$hi-plantation_worker_alt-2: "\eedc";
$hi-pregnant-2: "\eedd";
$hi-pregnant_32w-2: "\eede";
$hi-pregnant_0812w-2: "\eedf";
$hi-pregnant_2426w-2: "\eee0";
$hi-pregnant_3638w-2: "\eee1";
$hi-prisoner-2: "\eee2";
$hi-pwid-2: "\eee3";
$hi-refused-2: "\eee4";
$hi-rmnh-2: "\eee5";
$hi-security_worker-2: "\eee6";
$hi-speech_language_therapy-4: "\eee7";
$hi-spraying-2: "\eee8";
$hi-symptom-2: "\eee9";
$hi-traumatism-2: "\eeea";
$hi-travel-2: "\eeeb";
$hi-travel_alt-2: "\eeec";
$hi-truck_driver-2: "\eeed";
$hi-wash_hands-2: "\eeee";
$hi-water_sanitation-2: "\eeef";
$hi-woman-2: "\eef0";
$hi-world_care-2: "\eef1";
$hi-young_people-2: "\eef2";
$hi-ambulatory_clinic-2: "\eef3";
$hi-church-2: "\eef4";
$hi-city-2: "\eef5";
$hi-emergency_post-2: "\eef6";
$hi-forest-2: "\eef7";
$hi-forest_persons-2: "\eef8";
$hi-home-2: "\eef9";
$hi-home_alt-2: "\eefa";
$hi-hospital-2: "\eefb";
$hi-letrina-2: "\eefc";
$hi-letrina_alt-2: "\eefd";
$hi-market_stall-2: "\eefe";
$hi-ministry_of_health-2: "\eeff";
$hi-mosque-2: "\ef00";
$hi-palm_branches_roof-2: "\ef01";
$hi-proper_roof-2: "\ef02";
$hi-rural_post-2: "\ef03";
$hi-rural_post_alt-2: "\ef04";
$hi-temple-2: "\ef05";
$hi-temple_alt-2: "\ef06";
$hi-village-2: "\ef07";
$hi-circle_large-2: "\ef08";
$hi-circle_medium-2: "\ef09";
$hi-circle_small-2: "\ef0a";
$hi-information_campaign-2: "\ef0b";
$hi-square_large-2: "\ef0c";
$hi-square_medium-2: "\ef0d";
$hi-square_small-2: "\ef0e";
$hi-star_large-2: "\ef0f";
$hi-star_medium-2: "\ef10";
$hi-star_small-2: "\ef11";
$hi-triangle_large-2: "\ef12";
$hi-triangle_medium-2: "\ef13";
$hi-triangle_small-2: "\ef14";
$hi-accident_and_emergency-2: "\ef15";
$hi-admissions-2: "\ef16";
$hi-biochemistry_laboratory-2: "\ef17";
$hi-cardiology-2: "\ef18";
$hi-chaplaincy-2: "\ef19";
$hi-coronary_care_unit-2: "\ef1a";
$hi-critical_care-2: "\ef1b";
$hi-discharge_lounge-2: "\ef1c";
$hi-ears_nose_and_throat-2: "\ef1d";
$hi-endocrinology-2: "\ef1e";
$hi-finance_dept-2: "\ef1f";
$hi-gastroenterology-2: "\ef20";
$hi-geriatrics-2: "\ef21";
$hi-gym-2: "\ef22";
$hi-gynecology-2: "\ef23";
$hi-hematology-2: "\ef24";
$hi-hematology_laboratory-2: "\ef25";
$hi-hepatology-2: "\ef26";
$hi-human_resoruces-2: "\ef27";
$hi-intensive_care_unit-2: "\ef28";
$hi-medical_records-2: "\ef29";
$hi-nephrology-2: "\ef2a";
$hi-obstetricsmonia-2: "\ef2b";
$hi-oncology-2: "\ef2c";
$hi-opthalmology-2: "\ef2d";
$hi-orthopaedics-2: "\ef2e";
$hi-outpatient_department-2: "\ef2f";
$hi-pediatrics-2: "\ef30";
$hi-pharmacy-4: "\ef31";
$hi-physical_therapy-2: "\ef32";
$hi-psychology-2: "\ef33";
$hi-radiology-2: "\ef34";
$hi-respirology-2: "\ef35";
$hi-rheumatology-2: "\ef36";
$hi-social_work-2: "\ef37";
$hi-sonography-2: "\ef38";
$hi-speech_language_therapy-5: "\ef39";
$hi-urology-2: "\ef3a";
$hi-g-2: "\ef3b";
$hi-g-21: "\ef3c";
$hi-alcohol-2: "\ef3d";
$hi-alert-2: "\ef3e";
$hi-alert_circle-2: "\ef3f";
$hi-alert_triangle-2: "\ef40";
$hi-animal_chicken-2: "\ef41";
$hi-animal_cow-2: "\ef42";
$hi-animal_donkey-2: "\ef43";
$hi-animal_spider-2: "\ef44";
$hi-animal_tick-2: "\ef45";
$hi-assembly_point-2: "\ef46";
$hi-award_ribbon-2: "\ef47";
$hi-award_trophy-2: "\ef48";
$hi-book-2: "\ef49";
$hi-breeding_sites-2: "\ef4a";
$hi-calendar-2: "\ef4b";
$hi-calendar-quarantine-2: "\ef4c";
$hi-cannabis-2: "\ef4d";
$hi-cardiogram-2: "\ef4e";
$hi-cardiogram_e-2: "\ef4f";
$hi-chart_bar-2: "\ef50";
$hi-chart_bar_stacked-2: "\ef51";
$hi-chart_line-2: "\ef52";
$hi-chart_line_stacked-2: "\ef53";
$hi-chart_pie-2: "\ef54";
$hi-chart-cured-decreasing-2: "\ef55";
$hi-chart-cured-increasing-2: "\ef56";
$hi-chart-death-rate-decreasing-2: "\ef57";
$hi-chart-death-rate-increasing-2: "\ef58";
$hi-chart-death-rate-stable-2: "\ef59";
$hi-chart-infected-decreasing-2: "\ef5a";
$hi-chart-infected-increasing-2: "\ef5b";
$hi-chart-infected-stable-2: "\ef5c";
$hi-cholera-2: "\ef5d";
$hi-clinical_f-2: "\ef5e";
$hi-clinical_fe-2: "\ef5f";
$hi-communication-2: "\ef60";
$hi-community_meeting-2: "\ef61";
$hi-contact_support-2: "\ef62";
$hi-database-2: "\ef63";
$hi-death-2: "\ef64";
$hi-death_alt-2: "\ef65";
$hi-death_alt2-2: "\ef66";
$hi-default-2: "\ef67";
$hi-dhis2_logo-2: "\ef68";
$hi-diabetes-5: "\ef69";
$hi-diabetes_measure-2: "\ef6a";
$hi-discharge-2: "\ef6b";
$hi-eco_care-2: "\ef6c";
$hi-electricity-2: "\ef6d";
$hi-entry-2: "\ef6e";
$hi-excel_logo-2: "\ef6f";
$hi-exercise-2: "\ef70";
$hi-FHIR_logo-2: "\ef71";
$hi-fingerprint-2: "\ef72";
$hi-fruits-2: "\ef73";
$hi-geo_location-2: "\ef74";
$hi-global-pandemic-2: "\ef75";
$hi-globe-2: "\ef76";
$hi-guide_dog-2: "\ef77";
$hi-hazardous-2: "\ef78";
$hi-health-2: "\ef79";
$hi-health_alt-2: "\ef7a";
$hi-health_data_security-2: "\ef7b";
$hi-health_data_sync-2: "\ef7c";
$hi-health_literacy-2: "\ef7d";
$hi-health_worker_form-2: "\ef7e";
$hi-heart-5: "\ef7f";
$hi-heart_cardiogram-2: "\ef80";
$hi-high_bars-2: "\ef81";
$hi-high_level-2: "\ef82";
$hi-home-quarantine-2: "\ef83";
$hi-hospice-2: "\ef84";
$hi-hospital_symbol-2: "\ef85";
$hi-i_certificate_paper-2: "\ef86";
$hi-i_documents_accepted-2: "\ef87";
$hi-i_documents_denied-2: "\ef88";
$hi-i_exam_multiple_choice-2: "\ef89";
$hi-i_exam_qualification-2: "\ef8a";
$hi-i_note_action-2: "\ef8b";
$hi-i_schedule_school_date_time-2: "\ef8c";
$hi-imm-2: "\ef8d";
$hi-info-2: "\ef8e";
$hi-insecticide_resistance-2: "\ef8f";
$hi-low_bars-2: "\ef90";
$hi-low_level-2: "\ef91";
$hi-magnifying_glass-2: "\ef92";
$hi-malaria_outbreak-2: "\ef93";
$hi-medical_advice-2: "\ef94";
$hi-medium_bars-2: "\ef95";
$hi-medium_level-2: "\ef96";
$hi-megaphone-2: "\ef97";
$hi-mosquito-2: "\ef98";
$hi-negative-2: "\ef99";
$hi-network_4g-2: "\ef9a";
$hi-network_5g-2: "\ef9b";
$hi-no-2: "\ef9c";
$hi-nutrition-2: "\ef9d";
$hi-openMRS_logo-2: "\ef9e";
$hi-outbreak-2: "\ef9f";
$hi-palliative-care-2: "\efa0";
$hi-paved_road-2: "\efa1";
$hi-paved_road_alt-2: "\efa2";
$hi-peace-2: "\efa3";
$hi-pharmacy-5: "\efa4";
$hi-pharmacy_alt-2: "\efa5";
$hi-poison-2: "\efa6";
$hi-polygon-2: "\efa7";
$hi-positive-2: "\efa8";
$hi-prescription_document-2: "\efa9";
$hi-provider_fst-2: "\efaa";
$hi-question-2: "\efab";
$hi-question_circle-2: "\efac";
$hi-question_triangle-2: "\efad";
$hi-referral-2: "\efae";
$hi-register_book-2: "\efaf";
$hi-running_water_alt-2: "\efb0";
$hi-rx-2: "\efb1";
$hi-sexual_reproductive_health-2: "\efb2";
$hi-simple_logo-2: "\efb3";
$hi-smoking-2: "\efb4";
$hi-smoking_cessation-2: "\efb5";
$hi-social_distancing-2: "\efb6";
$hi-social_distancing_alt-2: "\efb7";
$hi-stop-2: "\efb8";
$hi-tally-2: "\efb9";
$hi-transgender-2: "\efba";
$hi-ui_folder-2: "\efbb";
$hi-ui_folder_family-2: "\efbc";
$hi-ui_menu-2: "\efbd";
$hi-ui_menu_grid-2: "\efbe";
$hi-ui_preferences-2: "\efbf";
$hi-ui_secure-2: "\efc0";
$hi-ui_settings-2: "\efc1";
$hi-ui_user_profile-2: "\efc2";
$hi-ui_zoom-2: "\efc3";
$hi-ui_zoom_in-2: "\efc4";
$hi-ui_zoom_out-2: "\efc5";
$hi-un_paved_road-2: "\efc6";
$hi-virus-2: "\efc7";
$hi-virus_alt-2: "\efc8";
$hi-virus_patient-2: "\efc9";
$hi-virus_research_alt-2: "\efca";
$hi-virus-mutation-2: "\efcb";
$hi-virus-research-2: "\efcc";
$hi-virus-shield-2: "\efcd";
$hi-water_treatment-2: "\efce";
$hi-yes-2: "\efcf";
$hi--2: "\efd0";
$hi-21: "\efd1";
$hi-22: "\efd2";
$hi-23: "\efd3";
$hi-24: "\efd4";
$hi-25: "\efd5";
$hi-26: "\efd6";
$hi-27: "\efd7";
$hi-28: "\efd8";
$hi-29: "\efd9";
$hi-210: "\efda";
$hi-A-2: "\efdb";
$hi-B-2: "\efdc";
$hi-C-2: "\efdd";
$hi-D-2: "\efde";
$hi-dollar-2: "\efdf";
$hi-E-2: "\efe0";
$hi-F-2: "\efe1";
$hi-G-2: "\efe2";
$hi-ghana-2: "\efe3";
$hi-H-2: "\efe4";
$hi-I-2: "\efe5";
$hi-J-2: "\efe6";
$hi-K-2: "\efe7";
$hi-L-2: "\efe8";
$hi-M-2: "\efe9";
$hi-N-2: "\efea";
$hi-O-2: "\efeb";
$hi-P-2: "\efec";
$hi-Q-2: "\efed";
$hi-question_mark-2: "\efee";
$hi-R-2: "\efef";
$hi-rupee-2: "\eff0";
$hi-S-2: "\eff1";
$hi-T-2: "\eff2";
$hi-U-2: "\eff3";
$hi-V-2: "\eff4";
$hi-W-2: "\eff5";
$hi-X-2: "\eff6";
$hi-Y-2: "\eff7";
$hi-yen-2: "\eff8";
$hi-Z-2: "\eff9";
$hi-x4-2: "\effa";
$hi-ambulance-2: "\effb";
$hi-basic_motorcycle-2: "\effc";
$hi-bike-2: "\effd";
$hi-cross_country_motorcycle-2: "\effe";
$hi-drone-2: "\efff";
$hi-helicopter-2: "\f000";
$hi-machinery-2: "\f001";
$hi-mobile_clinic-2: "\f002";
$hi-small_plane-2: "\f003";
$hi-vespa_motorcycle-2: "\f004";
$hi-war-2: "\f005";
$hi-baby_female_0203m: "\f006";
$hi-baby_male_0203m: "\f007";
$hi-baby_female_0203m-1: "\f008";
$hi-baby_male_0203m-1: "\f009";
$hi-wold_care: "\f00a";
$hi-baby_female_0203m-2: "\f00b";
$hi-baby_male_0203m-2: "\f00c";
$hi-wold_care-1: "\e900";
$hi-wold_care-2: "\f00d";

